<div class="profile">
  <nav class="navbar">
    <div class="branding">
      <h2> <b> MSG </b> </h2>
    </div>

    <div class="nav-links">
      <div class="menu">
        <a>Invitations</a>
        <a>Events</a>
        <a>Account</a>
      </div>
    </div>
  </nav>

  <div class="page-content">
    <h1 class="username">Welcome {{"username"}}</h1>

    <div class="event-creation">
      <h3> Create an Event</h3>
      <form>
        <input class="event-form" placeholder="Event Title">
      </form>
      <form>
        <input class="event-form" placeholder="Description">
      </form>
      <button class="create-event">
        Create Event
      </button>
    </div>

    <div class="my-events">
      <h3> My Events </h3>
      <div class="event">
        <h3> Invite a Friend </h3>
        <form>
          <input class="invite-form" placeholder="Enter Username">
        </form>
        <button class="invite">
          Invite
        </button>
      </div>
    </div>

    <div class="my-invitations">
      <h3>My Invitations</h3>
      <div class="invite-buttons">
        <button class="invite">
          Accept
        </button>
        <button class="invite">
          Decline
        </button>
      </div>
    </div>
  </div>
</div>
