<ng-template #content class="modal">
  <div class="modal_content">
    <button> Back </button>
    <div class="avatars">
      <div class="avatar">
        <img class="pic" src="assets/Gregory.png" value="">
      </div>
      <div class="avatar">
        <img class="pic" src="assets/Adrian.png" value="">
      </div>
      <div class="avatar">
        <img class="pic" src="assets/Adam.png" value="">
      </div>
      <div class="avatar">
        <img class="pic" src="assets/Melissa.png" value="">
      </div>
      <div class="avatar">
        <img class="pic" src="assets/Mildness.png" value="">
      </div>
      <div class="avatar">
        <img class="pic" src="assets/Saige.png" value="">
      </div>
    </div>
    <button>Submit</button>
  </div>
</ng-template>

<a class="btn btn-lg btn-outline-primary" (click)="open(content)">Create Account</a>
