<!DOCTYPE html>

<html>
    <head> <link rel="stylesheet" href="home.component.css" type="text/css"/> </head>
    <body>
        <header>
            <div class="accountBox"></div>
            <div class="usernameText"> Username </div>

        </header>
        <nav class="navbar">
            <div class="branding">
              <h2> <b> MSG </b> </h2>
            </div>
          
            <div class="nav-links">
              <div class="menu">
                <a>Invitations</a>
                <a>Events</a>
                <a>Account</a>
              </div>
              <div>
                <img class="vineWall" src="assets/green-vine-wall.jpg" alt="Wall with vines on it">
            </div>
            <div class="overlay"> </div>
            </div>
          </nav>
    </body>