<div class="modal-view">
  <div class="modal-body">
    <div class="modal-content">
      <div>
        <button class="back-btn" (click)="close()"> Back </button>
      </div>


      <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <div class="navtab" ngbNavItem>
          <div ngbNavLink>Login</div>
          <ng-template ngbNavContent>
            <div>
              <form>
                <input type="text" placeholder="Enter Username" #user>
              </form>

              <form>
                <input type="text" placeholder="Enter Password" #pass>
              </form>
            </div>

            <button class="submit-button" type="submit" (click)="loginToProfile(user.value, pass.value)">
              Login
            </button>
          </ng-template>
        </div>

        <div class="navtab" ngbNavItem>
          <div ngbNavLink>Create Account</div>
          <ng-template ngbNavContent>
            <div>
              <form>
                <input type="text" placeholder="Enter Username" #username>
              </form>

              <form>
                <input type="text" placeholder="Enter Email" #email>
              </form>

              <form>
                <input type="text" placeholder="Enter Password" #password>
              </form>
              <button class="submit-button" type="submit" (click)="createAccount(email.value, username.value, password.value)">
                Create Account
              </button>
            </div>
          </ng-template>
        </div>
      </ul>
      <div [ngbNavOutlet]="nav"></div>
    </div>
  </div>
</div>
