<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="landing.component.css" type="text/css"/> 
    </head>
    <body>
        <header>
            <div class="navbox">
                <nav>
                    <a class="navText1" href="">Invitations</a>
                    <a class="navText2" href="">Search</a>
                    <a class="navText3" href="">Meetings</a>
                    <a class="navText4" href="">Account</a>
                </nav>
                </div>
                <div>
                    <img class="vineWall" src="assets/green-vine-wall.jpg" alt="Wall with vines on it">
                </div>
                <div class="overlay"> </div>
                <div class="bottomBar"> </div>
                <div class="divtitleText">
                    <h1 class="titleText">MSG</h1>
                    <p class="tagLine">Meet. Schedule. Gather. </p>
                </div>
                <div class="divIntro">
                    <h1 class="introText"> Scheduling has never been easier... </h1>
                    <h3 class= "captionText">Lorem ipsum dolor sit amet consectetur. Quis lectus sed sit a molestie bibendum at tincidunt vel. Quis ipsum nulla massa mollis sed pharetra.</h3>
                </div>
            <div class="introLine"></div>
        </header>
    </body>
</html>