<nav class="navbar">
  <div class="branding">
    <h2> <b> MSG </b> </h2>
  </div>

  <div class="nav-links">
    <div class="menu">
      <a>Invitations</a>
      <a>Events</a>
      <a>Account</a>
    </div>
  </div>
</nav>

<div class="page-content">
  <div class="vinetext">
    <img class="vineWall" src="assets/green-vine-wall.jpg" alt="Wall with vines on it">
    <div class="divIntro">
      <h1 class="introText"> Scheduling has never been easier... </h1>
      <h3 class= "captionText"></h3>
    </div>
  </div>

  <div class="backdrop">
    <div class="overlay">
      <div class="divtitleText">
        <h1 class="titleText">MSG</h1>
        <p class="tagLine">Meet. Schedule. Gather.</p>
      </div>
    </div>
    <div class="bottomBar"> </div>
  </div>
</div>

